body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:756px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:914px;
  width:1200px;
  height:756px;
  display:flex;
}
#u3139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1200px;
  height:280px;
}
#u3140_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(191, 191, 191, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3140_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3141 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:83px;
  width:120px;
  height:40px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u3142 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:123px;
  width:946px;
  height:60px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u3142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3144 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1049px;
  width:468px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3145 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1017px;
  width:132px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3145_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3146 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:956px;
  width:443px;
  height:40px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:321px;
}
#u3147 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:1199px;
  width:498px;
  height:321px;
  display:flex;
}
#u3147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:232px;
}
#u3148 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:1001px;
  width:361px;
  height:232px;
  display:flex;
}
#u3148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3150 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1153px;
  width:468px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3151 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1121px;
  width:88px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3153 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1256px;
  width:468px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3154 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1224px;
  width:88px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3156 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1360px;
  width:468px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3157 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1328px;
  width:154px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3159 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1463px;
  width:468px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  line-height:30px;
}
#u3159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3160 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:1431px;
  width:132px;
  height:30px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3161 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:1635px;
  width:440px;
  height:70px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u3161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3163 {
  position:absolute;
  left:-1px;
  top:1947px;
}
#u3163_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1201px;
  height:226px;
  background-color:rgba(18, 18, 18, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3163_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:226px;
  background:inherit;
  background-color:rgba(18, 18, 18, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#121212;
}
#u3166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:226px;
  display:flex;
  color:#121212;
}
#u3166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u3167 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:37px;
  width:794px;
  height:20px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u3167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u3168 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:68px;
  width:728px;
  height:20px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u3168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u3169 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:156px;
  width:660px;
  height:20px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#E6E6E6;
}
#u3169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:51px;
}
#u3170 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:141px;
  width:115px;
  height:51px;
  display:flex;
}
#u3170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:50px;
}
#u3171 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:33px;
  width:158px;
  height:50px;
  display:flex;
}
#u3171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2px;
}
#u3172 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:123px;
  width:1141px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0503035590518749deg);
  -moz-transform:rotate(-0.0503035590518749deg);
  -ms-transform:rotate(-0.0503035590518749deg);
  transform:rotate(-0.0503035590518749deg);
}
#u3172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:30px;
}
#u3173 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:1754px;
  width:611px;
  height:120px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:30px;
}
#u3173 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3174 {
  position:fixed;
  right:60px;
  bottom:60px;
}
#u3174_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3174_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
  display:flex;
}
#u3176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u3177 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:10px;
  width:32px;
  height:31px;
  display:flex;
}
#u3177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:506px;
}
#u3178 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:408px;
  width:678px;
  height:506px;
  display:flex;
}
#u3178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:81px;
  display:flex;
}
#u3181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3182 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:23px;
  width:35px;
  height:35px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3183 {
  border-width:0px;
  position:absolute;
  left:1146px;
  top:23px;
  width:35px;
  height:35px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3184 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:30px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3185 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:30px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3186 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:30px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3187 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:30px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3188 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:30px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u3188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:66px;
}
#u3189 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:8px;
  width:227px;
  height:66px;
  display:flex;
}
#u3189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3190 {
  position:absolute;
  left:49px;
  top:81px;
  visibility:hidden;
}
#u3190_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:973px;
  height:250px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3190_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:250px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:250px;
  display:flex;
}
#u3192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:26px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:65px;
  width:145px;
  height:140px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3195_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:26px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:65px;
  width:72px;
  height:56px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:26px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:168px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:65px;
  width:180px;
  height:168px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3206_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:26px;
  width:100px;
  height:33px;
  display:flex;
  font-family:'微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#393939;
}
#u3207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:65px;
  width:181px;
  height:28px;
  display:flex;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#0B60F2;
  line-height:28px;
}
#u3208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3208_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
